@page
@model Esfamilo_Web.Pages.LoginToGameModel
@{
}
<div class="loginPageContainer">
    <div class="loginLogo">
        <img src="img/Logo/FullLogo-dark.png" alt="">
    </div>
    <div class="LoginAccount">
        <h2>ورود به حساب کاربری</h2>
    </div>
    <form action="" class="formLogin">
        <input type="text" placeholder="نام کاربری">
        <input type="password" placeholder="رمز عبور">
        <div class="rememberContainer">
            <div class="remember">
                <div class="divCheck"><i class="fa-solid fa-check"></i></div>
                <p>من را به یاد داشته باش</p>
            </div>

        </div>
        <div class="forgotFassword">
            <p>رمز عبور خود را فراموش کرده اید؟</p>
        </div>
    </form>
    <div class="register">
        <button>
            ورود / ثبت نام
        </button>
    </div>
</div>